form {
  width: 90%;
  max-width: 300px;
  background-color: #000000b5;
  padding: 33px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  border: 1px solid white;
}

label {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #61DAFA;
  margin-bottom: 26px;
}

textarea {
  background-color: #f3f5f6ed;
  border: 2px solid #202329;
  border-radius: 2px;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  color: #1E1E1F;
  font-size: 20px;
  text-align: center;
  padding: 12px;
  height: 96px;
  width: calc(100% - 25px);
  border-radius: 12px;
}

textarea::placeholder {
  color: #A5A5A5;
  font-family: 'Montserrat';
  font-weight: 400;
}

textarea:focus {
  outline-color: #61DAFA;
}

.TodoForm-categoryContainer {
  display: flex;
  gap: 20px;
  margin-top: 16px;
  justify-content: center;
  align-items: center;
}

.TodoForm-categoryLabel {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: white;
}

.TodoForm-categoryLabel input[type="radio"] {
  cursor: pointer;
  width: 18px;
  height: 18px;
  accent-color: #61DAFA;
}

.TodoForm-buttonContainer {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.TodoForm-button {
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  color: #202329;
  font-weight: 400;
  width: 120px;
  height: 48px;
  border-radius: 8px;
  border: none;
  font-family: 'Montserrat';
}

.TodoForm-button--add {
  background: #61DAFA;
  box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
  border: 1px solid #61DAFA;
}

.TodoForm-button--cancel {
  background: transparent;
  color: white;
  border: 1px solid white;
}

.TodoForm-button--add:hover {
  border: 1px solid white;
}

.TodoForm-button--cancel:hover {
  border: 1px solid #61DAFA;
}
