body {
  margin: 0;
  padding: 0;
  background: #F2F4F5;
  color: #1E1E1F;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: white;
}

#root {
  margin: 0;
  position: relative;
  min-height: 100vh;
}

.app-container {
  background-image: url("https://images.pexels.com/photos/32237/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: none;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-container {
  background-color: rgba(0, 0, 0, 0.7);
  width: 90%;
  max-width: 600px;
  height: 80%;
  border: 2px solid white;
  border-radius: 6px;
  overflow-y: scroll;
  position: relative;
}