
.Icon-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 40px;
  font-size: 24px;
  font-weight: bold;
}

.Icon-container-check {
  position: absolute;
  left: 12px;
}
.Icon-container-check--active {
  color: #16e81d;
  color: #881708e7;
}

.Icon-container-delete {
  position: absolute;
  top: -24px;
  right: 0;
}
.Icon-container-delete:hover {
  color: red;
}

.Icon-svg {
  width: 22px;
  height: 22px;
}

.Icon-container-check:hover .Icon-svg {
  fill: #16e81d;
}
.Icon-container-delete:hover .Icon-svg {
  fill: red;
}
