.TodoSearch {
  background: #F9FBFC;
  border-radius: 2px;
  border: 2px solid #202329;
  display: block;
  margin: auto;
  height: 46px;
  width: calc(100% - 3rem);
  max-width: 26rem;
  font-size: 22px;
  font-family: 'Montserrat';
  font-weight: 400;
  color: #1E1E1F;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  border-radius: 10px;
  padding-left: 12px;
}

.TodoSearch::placeholder {
  color: #A5A5A5;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: medium;
  padding-left: 12px;
}

.TodoSearch:focus {
  outline-color: #61DAFA;
}

@media (min-width: 380px) {
  .TodoSearch {
    width: calc(100% - 6rem);
  }
}

@media (min-width: 460px) {
  .TodoSearch {
    width: calc(100% - 10rem);
  }

  .TodoSearch::placeholder {
    font-size: large;
  }
}